/* Body */
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.content {
    padding-bottom: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#page-wrapper {
    position: relative;
    min-height: 100vh;
}
.center {
    text-align: center;
}
.margins {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* header */
header {
    text-align: center;
    padding-bottom: 30px;
    background: cyan;
    margin: 0;
}
header h1 {
    margin: 0;
}

nav {
    width: 50%;
    padding-top: 10px;
    margin: auto;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
nav a {
    color: black;
    text-decoration: none;
    font-size: 1.3em;
}
nav a:hover {
    color: #9401017c;
}

/* Index.html */
#quiz-listi {
    margin: auto;
    width: max-content;
    font-size: 4em;
}
#quiz-container {
    margin: auto;
    display: flex;
    flex-flow: column;
    text-align: center;
    max-width: 60%;
}
.quiz-a {
    background: darkcyan;
    text-decoration: none;
    padding: 27px 25px 25px 25px;
    margin: 10px;
    min-width: max-content;
    max-width: 80vw;
    height: 2em;
    font-size: 4em;
    word-wrap: break-word;
    color: maroon;
}
.quiz-a:hover {
    color: red;
}
.quiz-a p {
    width: fit-content;
    margin: 10px auto auto auto;
}
#quiz-header {
    background: darkcyan;
    text-align: center;
    width: max-content;
    padding: 5px 4em;
    margin: 20px auto;
}


/* Content */
.content {
    width: 60%;
    margin: auto;
}

/* Footer */
footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    height: 60px;
    background: cyan;
    width: 100%;
    margin: 0;
    left: 0;
}

/* Spurningar */
body {
    background: #180061;
    color: black;
}
.spurning {
    width: 70%;
    margin: 40px auto;
    text-align: center;
    background: darkcyan;/*#3d0ad8ab*/
    border: 1px solid black;
    border-radius: 0.8%;
    display: flex;
    flex-flow: column;
}

.svar {
    width: 30%;
    margin: auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.904); 
    border-width: 4px;
    border-color: black;
    border-radius: 7%;
    font-size: 2em;
}

#spurning {
    word-wrap: break-word;
}

.submit {
    margin: 20px;
    padding: 7px;
    background: #180061;
    font-weight: bold;
    color: white;
}
/* Result.html */
#result {
    margin: auto;
    width: max-content;
    color: white;
}
#result h2 {
    width: 100%;
    text-align: center;
}
.svar-row {
    color: white;
    margin: 10px 0;
}
#heim {
    width: max-content;
    margin: 10px auto;
    text-align: center;
}
/* nyttquiz.html */
#spurningar-table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
    text-align: center;
}
#nafn-div {
    text-align: center;
    margin-bottom: 10px;
}
#spurningar-table td, #spurningar-table tr {
    width: 7em;
    max-width: 10em;
    word-wrap: break-word;
}
#spurningar-table td,#spurningar-table tr {
    border: 1px solid gray;
    padding: 6px;
    font-size: 1.2em;
}
#new_wrapper {
    color: white;
    width: 95%;
    margin: auto;
}
input[name="nafn"]{
    text-align: center;
    font-size: 20px;
    border-radius: 3px;
    height: 30px;
    width: 150px;
    margin: auto;
}
#titill {
    margin: auto;
}
#submit_quiz {
    width: 120px;
    height: 35px;
    font-size: 18px;
    border-radius: 5px;
    margin: auto;
    text-align: center;
}
#submit_quiz:hover {
    background-color: #c2c2c2;
}
#button_label {
    text-align: center;
    margin: auto;
    margin-top: 20px;
}
#new_question {
    display: flex;
    align-items: center;
    flex-flow: column;
    margin-top: 20px;
    margin-bottom: 50px;
}
#new_question input {
    margin: 10px;
}
#submit_spurning {
    height: 30px;
    font-size: 17px;
    border-radius: 4px;
    margin: 10px;
}
#submit_spurning:hover {
    background-color: #c2c2c2;
}
.nafn {
    height: 25px;
    border-radius: 4px;
}
.newspan {
    margin: 10px;
    font-size: 18px;
}